h1 {
    font-size: 40px;
    color: rgb(231, 197, 163);
    background-color: rgb(97, 67, 18);
    margin: 20px;
    padding: 20px;
}

/* h2可以將以下為h2的文字套上這串css設定 */
h2 {
    font-size: 20px;
    color: rgb(142, 103, 73);
    /* background-color: black; */
    margin: 20px;
    padding: 5px;
}

.specialtitle{
    color:rgb(142, 103, 73);
    /* background-color: black; */
}
/* 星號代表全部，<>這是一個區塊，也就是在index.html中有出現<>的地方都會套用這串css設定 */
/* 實心的線條，大小為1px */
/* 將此部分反白讓他看起來比較好 */
*{
    /* border: solid 1px black; */
    font-family: 微軟正黑體; 
    font-size: 20px;
}
p{
    margin: 20px;
    /* padding: px; */
}

.card{
    /* 最左邊的間隔大小 */
    width: 800px;
    /* flex代表左右，代表card中區塊的排序是左右 */
    display: flex;
}
/* class為left的值佔card中的30% */
.left{
    width: 30%;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Roasted_coffee_beans.jpg/1280px-Roasted_coffee_beans.jpg);
}
.right{
    width: 70%;
}

ul li{
    display: inline-block;
    width: 30%;
    /* 至上對齊 */
    vertical-align: top;
}